<div class="section white">
  <div class="row container">
    <h2 class="header center">Saving has never been easier</h2>
    <p class="grey-text text-darken-3 lighten-3">Ever found yourself having too much money at the end of your month? OR do you want guidance on how to save money to reach a certain goal? If you do then Cache is the perfect saving plan for you! And if you don't find yourself in that predicament...Cache is still the perfect saving plan for you as well! Who wouldn't like having more cash and attractive awards on the side?!</p>
    <p class="brown-text darken-4" style="text-align: center;">So if you want to find out more about Cache, not to worry we got your back!</p>
    <p>Think of Cache as a digital floating cloud piggy bank. Just deposit a portion of your monthly income and get awesome stuff (ranging from cash back and even discounts from retailers!) from just saving money in your digital cloud pig! (lets call it 'Hamlet')
      <i class="em em-pig"></i></p>
    <p class="brown-text darken-4" style="text-align: center;">For every $100 you deposit, you get back $1. </p>
    <p class="brown-text darken-4" style="text-align: center;"> For every $100 saved, Cache & our partners will give you cash back of 30% of $1!</p>
    <p class="brown-text darken-4" style="text-align: center;">We will also give you 70% of that $1 into your Cache dollars balance redeemable at any of our Cache retail partners!</p>
    <p>Getting too confusing? Do not fret, below is a little break down as to how this saving works and how much stand to earn!</p>
  </div>
</div>
