<div class="section white">
  <div class="row container">
    <h2 class="header center">Saving has never been easier</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Do you feel like banks take your money and don't give you anything back? We do. Over the last 20 years, interest rates on savings accounts have declined to their lowest levels ever! That means banks take your money and don't give you much of anything back. We want to change that.<br><br>
      The Cache Savings Plan is like putting your money in the bank, but instead of getting crummy interest rates, you get a risk-free rate of return in the form of money you can spend freely with any of our consumer partners!<br><br>
      And another thing, we take care of you whether you're just starting out or already have a lot of savings. Everybody in our plan earns the same level of return, whether you put in a few dollars or much more.<br><br>
      Our model is simple, we reward $1 every month for every $100 in average deposit balances during the month. That can mean $12 a year on $100 of savings that you keep in the account, or a 12% return on your money! Compare that to close to zero returns from your traditional bank savings accounts!
      We have great consumer partners, including some of the biggest brands in Singapore and for many everyday expenses, like coffee or that ride to work!<br><br>
      Think of Cache as an alternative to your traditional savings account. The more you save, the more awards and incentives you gain! </p>
    <p class="brown-text darken-4" style="text-align: center;">For every $100 in balances, you receive $1 in Cache awards and cash back, every month</p>
    <p class="brown-text darken-4" style="text-align: center;">75% of the $1 will be awarded as money that can be freely spent at our retail partners</p>
    <p class="brown-text darken-4" style="text-align: center;">25% of the $1 will be awarded as cash-back</p>
    <p>Confused? Scroll down to see how the program works!</p>
  </div>
</div>
