<div class="container">
  <h3>Cache Savings Plan</h3>
  <h5>Save and spend your way to a brighter future</h5>

  Our savings plan is simple! You're free to add and withdraw money from your account at any time. Every month we reward you $1 for every $100 in average daily balances! 75% of the award can be used for spending any way you like at our consumer partners, and 25% of the award is cash that you're free to spend any way you like, although we'd recommend you save it!
  <br>
  <br>
  The following table illustrates how much you can save and earn in Cache awards and cash back, based on estimated monthly salaries and assuming you save 20% of your annual salary.
  <br><br>
  In the analysis below, we've shown a conservative estimate of awards and final balances using a mid-year balance. Awards and balances will depend based on your unique savings habits.
  <br><br>
  You can sign up to run a comprehensive analysis using actual figures.
  <br><br>

  <table>
     <thead>
         <th>Monthly Salary</th>
         <th>Annual Salary</th>
         <th>Savings Ratio</th>
         <th>Annual Savings</th>
         <th>Cache Awards</th>
         <th>Cash Back</th>
         <th>Total Incentives</th>
     </thead>
     <tbody>
       <tr>
         <td>$1,000</td>
         <td>$12,000</td>
         <td>20%</td>
         <td>$2,400</td>
         <td>$108</td>
         <td>$36</td>
         <td>$144</td>
       </tr>
       <tr>
         <td>$2,000</td>
         <td>$24,000</td>
         <td>20%</td>
         <td>$4,800</td>
         <td>$216</td>
         <td>$72</td>
         <td>$288</td>
       </tr>
       <tr>
         <td>$3,000</td>
         <td>$36,000</td>
         <td>20%</td>
         <td>$7,200</td>
         <td>$324</td>
         <td>$108</td>
         <td>$432</td>
       </tr>
       <tr>
         <td>$4,000</td>
         <td>$48,000</td>
         <td>20%</td>
         <td>$9,600</td>
         <td>$421</td>
         <td>$144</td>
         <td>$576</td>
       </tr>
       <tr>
         <td>$5,000</td>
         <td>$60,000</td>
         <td>20%</td>
         <td>$12,000</td>
         <td>$540</td>
         <td>$180</td>
         <td>$720</td>
       </tr>
       <tr>
         <td>$6,000</td>
         <td>$72,000</td>
         <td>20%</td>
         <td>$14,400</td>
         <td>$648</td>
         <td>$216</td>
         <td>$864</td>
       </tr>
       <tr>
         <td>$7,000</td>
         <td>$84,000</td>
         <td>20%</td>
         <td>$16,800</td>
         <td>$756</td>
         <td>$252</td>
         <td>$1,008</td>
       </tr>
       <tr>
         <td>$8,000</td>
         <td>$96,000</td>
         <td>20%</td>
         <td>$19,200</td>
         <td>$864</td>
         <td>$288</td>
         <td>$1,152</td>
       </tr>
       <tr>
         <td>$9,000</td>
         <td>$108,000</td>
         <td>20%</td>
         <td>$21,600</td>
         <td>$972</td>
         <td>$324</td>
         <td>$1,296</td>
       </tr>
       <tr>
         <td>$10,000</td>
         <td>$120,000</td>
         <td>20%</td>
         <td>$24,000</td>
         <td>$1,080</td>
         <td>$360</td>
         <td>$1,440</td>
       </tr>
     </tbody>
  </table>
  <br>
  <body>
  Let's say you make $2,500 a month when you start contributing to the Cache Savings Plan and that you save 20% of your annual salary, or about $6,000 per year.
  <br><br>
  Assume that during your career your salary grows 10% per year on average and that you continue to save 20% of your salary.
  <br><br>
  Even using these conservative estimates, you can achieve your financial goals!
  <br><br>
  In the analysis below, we've shown a conservative estimate of awards and final balances using a mid-year balance. Awards and balances will depend based on your unique savings habits.
  <br><br>
  Even using these conservative estimates, you can achieve your financial goals!
  <br><br>
  </body>

  <table>
     <thead>
         <th># of Years</th>
         <th>Total Cash Savings with Cash Back</th>
         <th>Total Cache Awards</th>
         <th>Total Cash Back</th>
         <th>Total Incentives</th>
     </thead>
     <tbody>
       <tr>
         <td>1</td>
         <td>$6,090</td>
         <td>$270</td>
         <td>$90</td>
         <td>$360</td>
       </tr>
       <tr>
         <td>2</td>
         <td>$12,879</td>
         <td>$567</td>
         <td>$189</td>
         <td>$756</td>
       </tr>
       <tr>
         <td>3</td>
         <td>$20,437</td>
         <td>$894</td>
         <td>$298</td>
         <td>$1,192</td>
       </tr>
       <tr>
         <td>4</td>
         <td>$28,841</td>
         <td>$1,253</td>
         <td>$418</td>
         <td>$1,671</td>
       </tr>
       <tr>
         <td>5</td>
         <td>$38,175</td>
         <td>$1,648</td>
         <td>$549</td>
         <td>$2,198</td>
       </tr>
       <tr>
         <td>10</td>
         <td>$102,403</td>
         <td>$4,303</td>
         <td>$1,434</td>
         <td>$5,737</td>
       </tr>
       <tr>
         <td>15</td>
         <td>$208,590</td>
         <td>$8,579</td>
         <td>$2,860</td>
         <td>$11,438</td>
       </tr>
       <tr>
         <td>20</td>
         <td>$382,352</td>
         <td>$15,464</td>
         <td>$5,155</td>
         <td>$20,619</td>
       </tr>
       <tr>
         <td>30</td>
         <td>$1,122,813</td>
         <td>$44,413</td>
         <td>$14,804</td>
         <td>$59,218</td>
       </tr>
       <tr>
         <td>40</td>
         <td>$3,057,722</td>
         <td>$119,500</td>
         <td>$39,833</td>
         <td>$159,333</td>
       </tr>
     </tbody>
   </table>
   <br>
  <body>
    Ever dreamed of owning a car... the average down-payment on a first car in Singapore is $20,000. You could buy a car after just 3 years! Although we'd recommend you skip the car and take the MRT or an UBER! All Cache account holders get additional discounts on UBER!
    <br><br>
    Getting married is expensive! Assuming you spend $25,000 on your wedding, you could have enough saved in just over 3 years! And our savings partners will help you save even more with discounted catering, apparel, jewelry and hotels!
    <br><br>
    What about the big expenses? Do you dream of buying a house or sending your kids to a fancy college abroad? Well, in as little as 10 years you could save enough for that!
    <br><br>
    With the Cache plan you can save money for retirement and receive awards that fit your lifestyle, giving you plenty of money to save and spend on the things you already love and things you'll want to spend money on in the future! Gain control, financial freedom and a bright future!
    <br><br>
  </body>
</div>
