<h1>SAVE</h1>
<a href = '<%= save_topup_path%>'>Top Up</a>
<a href = '<%= save_withdraw_path%>'>Withdraw</a>
<a href = '<%= save_history_path%>'>Transaction History</a>
<a href = '<%= rewards_path%>'>Rewards</a>
