<h1>ANALYSIS TEST</h1>

<h2>Monthly Income: <%= @user.income.monthly_income %></h2>
<h2>Monthly Savings Goal: <%= @user.income.monthly_savings_goal %></h2>
<h2>Final Savings Goal: <%= @user.income.final_savings_goal %></h2>
