  <div class = "card-panel">
      <h5>You currently have: </h5>
      <br>
      <h6>Total Savings: $0 {Savings Progress to $1000}</h6>
      <div class="progress">
        <div class="determinate" style="width: 0%"></div>
      </div>

      <h6>Cash Back: $0</h6>
      <div class="progress">
        <div class="determinate" style="width: 0%"></div>
      </div>

      <h6>Cache Dollars: $0</h6>
      <div class="progress">
          <div class="determinate" style="width: 0%"></div>
      </div>
      <p>Total credits used: $0</p>
  </div>
