<div class = "card-panel">
  <h6>Total Savings {Savings Progress to}</h6>
  <div class="progress">
    <div class="determinate" style="width: 0%"></div>
  </div>

  <h6>You have $0 cache dollars to spend on our Rewards Retailers</h6>
  <div class="progress">
      <div class="determinate" style="width: 0%"></div>
  </div>

  </div>
