<section>
  <h2>ADMIN needs to ADD, UPDATE, DELETE the new rewards</h2>
  <table>
    <thead>
      <th>Points</th>
      <th>Merchant</th>
      <th>Item/Service</th>
      <th>Value</th>
    </thead>
    <tbody>
      <form action="">
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <input type="text">
          </td>
          <td>
            <button>
              <a href="">ADD NEW REWARD</a>
            </button>
          </td>
          <td>
            <button>
              <a href="">UPDATE REWARD</a>
            </button>
          </td>
          <td>
            <button>
              <a href="">DELETE REWARD</a>
            </button>
          </td>
        </tr>
      </form>
    </tbody>
  </table>
</section>

<h2>ADMIN needs to read, accept, deny top ups</h2>
<table>
  <thead>
    <th></th>
  </thead>

</table>
