<div class="container">

  <h3>Welcome to your Rewards Page</h3>

  <%= render 'rewards/progressbar' %>

    <br>
    <p><%= @milestone_savings.fetch(@total, @random_message) %> <%= @user.first_name %></p>


  <%= render 'rewards/list' %>
</div>
