<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 id="ft">Cache</h5>


          <p class="grey-text text-lighten-4">You're getting close to the bottom, go sign up!</p>

        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3">8 Claymore Hill</a></li>
            <li><a class="grey-text text-lighten-3">Level 3</a></li>
            <li><a class="grey-text text-lighten-3">+65 8389 6964</a></li>
            <li><a class="grey-text text-lighten-3">allaboutcache@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Text
      </div>
    </div>
</footer>
