<nav>
  <ul class="navbar">
    <li class="navitems"><a href="/">Homepage</a></li>
    <li class="navitems"><a href="/profile">Profile</a></li>
    <li class="navitems"><a href="/analysis">Analysis</a></li>
    <li class="navitems"><a href="/save">Save</a></li>
    <li class="navitems"><a href="/rewards">Rewards</a></li>
    <li class="navitems"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  </ul>
</nav>
