<nav>
  <ul class="navbar">
    <li class="navitems"><a href="/">Homepage</a></li>
    <li class="navitems"><a href="/publicanalysis">Financial Analysis</a></li>
    <li class="navitems"><a href="/signup">Sign Up</a></li>
    <li class="navitems"><a href="/login">Login</a></li>
  </ul>
</nav>
