@import "materialize/components/color";
@import "variables";
@import "materialize";
@import "rewards";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $sand;
}

#logo,.brand-logo{
  color: $secondary-color;
  font-family: 'Poiret One',cursive;
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

p {
  font-size: 120%;
}

#ft{
  font-family: 'Poiret One',cursive;
  color: white;
}

.progress{
  height: 15px;
}

.progress {
  height: 10px;
}

.manualform{
  display: none;
}

#modal1, #modal2, #modal3 {
  color: black;
}

.devise-alerts, .flash {
  text-align: center;
  color:$primary-color;
}

.page-footer {
   flex: 1 0 auto;
}

#tpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $secondary-color;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#tpBtn:hover {
  background-color: $primary-color;
}
nav ul li.active {
  background-color: 'rgba(219, 75, 75, 0.8)';
}
