<%= link_to("Complete Your Profile", edit_profile_path(current_user.id), :method => "get") %>
<br>
<a href = '<%= transactions_new_path%>'>Top Up</a>
<br>
<a href = '<%= rewards_path%>'>Rewards</a>

<h1>Transaction History</h1>

From: <form action = '/save/history' method = 'POST'>
  <div class="form-group">
    <label for="Date"></label>
    <input id="Date" class="form-control" type="date" name="date">
  </div>
To: <form action = '/save/history' method = 'POST'>
  <div class="form-group">
    <label for="Date"></label>
    <input id="Date" class="form-control" type="date" name="date">
  </div>
  <input class="btn btn-primary" type="submit">
</form>

<table>
  <thead>
    <th>
      Date
    </th>
    <th>
      Transaction Amount
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        bbb
      </td>
      <td>
        ddd
      </td>
    </tr>
  </tbody>
</table>
