<h1>Complete profile</h1>

<h2>Part 2 of 2</h2>

<h3>Bank Account Details</h3>

<h4>Update Saving Targets</h4>
<form class="bankdeets" action="profile.html" method="post">
  <label for="mobilenum">Mobile Number</label>
  <input type="number" name="mobilenum" placeholder="91234538" id="mobilenum">
  <label for="idtype">ID Type</label>
  <input type="text" name="idtype" id="idtype">
  <label for="addressproof">Proof of Address</label>
  <input type="file" name="addressproof" id="addressproof">
  <label for="idfront">ID/Passport Front</label>
  <input type="file" name="idfront" id="idfront">
  <label for="idback">ID/Passport Back</label>
  <input type="file" name="idback" id="idback">
  <label for="bankname">Bank Name</label>
  <input type="text" name="bankname" id="bankname">
  <label for="bankcurr">Bank Currency</label>
  <input type="text" name="bankcurr" id="bankcurr">
  <label for="accountnum">Bank Account Number</label>
  <input type="text" name="accountnum" id="accountnum">
  <label for="namebank">Name as per Bank Record</label>
  <input type="text" name="namebank" id="namebank">
  <label for="branchcode">Bank Branch Code</label>
  <input type="number" name="branchcode" id="branchcode">
  <input type="checkbox" name="termscond">
  <label for="termscond">I confirm that all information provided above are true
and correct to the best of my knowledge and you may rely on the accuracy thereof.</label>
  <button type="submit">
    <a href="/save">Submit</a>
  </button>
</form>

<div class="approvemsg">
  <p>Your account information was approved.
 If you wish to update part 2 of your profile, please email us at cs@gmail.com.</p>
</div>
